.itemContainer {
    display: grid;
    grid-template-rows: 30px 60px ;
    font-size: 0.8rem;
    border: 1px solid red;
    border-collapse: collapse;
}

/*.itemContainer > div {*/
/*    border: 1px solid red;*/
/*}*/

.itemSubject {
    display: grid;
    grid-template-columns: auto 100px;
    vertical-align: middle;
    align-self: center;
}

.itemSubjectText{
    font-size: 0.96rem;
    font-weight: 500;
}
.date {
    text-align: end;
}